.advantages{
    background-color: $secondBackgroundColor;
    padding-top: 41px;
    padding-bottom: 41px;
    @media screen and (min-width:$tablet){
        padding-top: 39px;
        padding-bottom: 39px;
    }
   @media screen and (min-width:$desktop){
    padding-top: 45px;
        padding-bottom: 45px;
        
   }
}
.advantages__title{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.advantages__list{
    @media screen and (min-width:$tablet){
        display: flex;
    }
    @media screen and (min-width:$desktop){
        
            align-items: center;
            justify-content: center;
    }
}
.advantages__item{
    @media screen and(max-width:767px){
        &:not(:last-child){
            margin-bottom: 25px;
        }
    }
    @media screen and (min-width:$tablet){
        &:not(:last-child){
            margin-right: 80px;
        }
    }
    @media screen and (min-width:$desktop){
        &:not(:last-child){
            margin-right: 100px;
        }
    }
}
.advantages__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.advantages__text{
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    @media screen and (min-width:$tablet){
        font-size: 25px;
            line-height: 1.36;
    }
}