body{
    font-family: $mainFont;
    color: $mainTextColor;
    background-color: $mainTextColor;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
