.reviews{
    @media screen and (min-width:$desktop){
        padding-top:45px;
        padding-bottom: 45px;
    }
}
.reviews__title{
    @media screen and (min-width:$tablet){
        font-size: 40px;
        line-height: 1.17;
        color: $titleColor;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 45px;
    }
}
.reviews__list{
    position: relative;
    @media screen and (min-width:$desktop){
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}
.reviews__item{
    background-color: $secondBackgroundColor;
    border-radius: 20px;
    @media screen and (max-width:1199px){
        &:first-child{
            display: none;
        }
        &:last-child{
            display: none;
        }
    }
    @media screen and (min-width:$tablet){
        padding: 50px 40px;
    }
    @media screen and (min-width:$desktop){
        &:first-child{
            max-width: 540px;
            position: absolute;
            left: -500px;
            background-color: #97B89C;
        }
        &:nth-child(2){
            max-width: 640px;
            margin-left: 59px;
            margin-right: 59px;
        }
        &:last-child{
            max-width: 540px;
            position: absolute;
            right: -500px;
            background-color: #97B89C;
        }
        
    }
}
.reviews__subtitle{
    @media screen and (min-width:$tablet){
        text-align: center;
        font-family: $secondFont;
        font-size: 40px;
        line-height: 1.17;
        margin-bottom: 25px;
    }
}
.reviews__text{
    @media screen and(min-width:$tablet){
        font-size: 25px;
        line-height: 1.36;
        text-align: center;
    }
}
.reviews__image{
    position: absolute;
    @media screen and (min-width:$tablet){
        &--left{
            top: 100px;
            left: -65px;
        }
        &--right{
            top: 100px;
            right: -65px;
        }
    }
    @media screen and (min-width:$desktop){
        &--left{
            left: 80px;
            top: 100px; 
        }
        &--right{
            right: 80px;
            top: 100px;
        }
    }
}