$mainFont: 'Open Sans', sans-serif;
$secondFont:'Tenor Sans', sans-serif;
$mainTextColor: #DDF2E0;
$secondTextColor:#EFB40C;
$titleColor:#0C382B;
$subtitleAndButton:#F5B202;
$secondBackgroundColor:#69916E;
$propositionSubtitle:#75947A;
